<header>

  <nav class="navbar navbar-custom">

    <ul class="navbar-nav ">
      <li><h2 style="color:whitesmoke;font-family:'Courier New' ;"><b>Flight Management System</b></h2></li>
    </ul>
    <ul class="navbar nav">
      <li class="nav-item "><a routerLink="" style="color: aliceblue;"><b>Home</b></a></li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item "><a routerLink="/search" style="color: aliceblue;">Search</a></li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item "><a routerLink="/scheduleFlight" style="color: aliceblue;">Schedule a Flight</a></li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item "><a routerLink="/viewAll" style="color: aliceblue;">View Scheduled Flights</a></li>

    </ul>

  </nav><br/><br/>
  </header>

<router-outlet></router-outlet>

